.main {
  min-height: 100vh;
  padding: 4rem 0;
}

.title {
  line-height: 1.15;
  font-size: 4rem;
  a {
    &:hover,
    &:focus,
    &:active {
      text-decoration: underline;
    }
  }
}

.activeCard {
  max-height: 50vh;
  min-height: 300px;

}
